<?xml version="1.0" encoding="utf-8"?>
<resources>
	<string name="startup.progressbar.tip.loading">加载中...</string>
	<string name="startup.progressbar.tip.unziping">解压中...</string>
	<string name="login.failure.tip">登录失败</string>
	<string name="login.exception.tip">登录异常</string>
	<string name="login.validation.username.error">输入的用户名格式错误</string>
	<string name="login.validation.password.error">输入的密码格式错误</string>
	<string name="login.label.title.text">登录</string>
	<string name="login.button.confirm.text">确认</string>
	<string name="login.button.cancel.text">取消</string>
	<string name="login.label.username.text">用户名:</string>
	<string name="login.label.password.text">密  码:</string>
	<string name="login.input.username.prompt">请输入用户名...</string>
	<string name="login.input.password.prompt">请输入密码...</string>
</resources>