<?xml version="1.0" encoding="utf-8"?>
<resources>
	<string name="startup.progressbar.tip.loading">Loading...</string>
	<string name="startup.progressbar.tip.unziping">Unziping...</string>
	<string name="login.failure.tip">Login failure.</string>
	<string name="login.exception.tip">Login exception.</string>
	<string name="login.validation.username.error">Please enter a valid username.</string>
	<string name="login.validation.password.error">Please enter a valid password.</string>
	<string name="login.label.title.text">Sign in</string>
	<string name="login.button.confirm.text">Confirm</string>
	<string name="login.button.cancel.text">Cancel</string>
	<string name="login.label.username.text">Username:</string>
	<string name="login.label.password.text">Password:</string>
	<string name="login.input.username.prompt">Enter username...</string>
	<string name="login.input.password.prompt">Enter password...</string>
</resources>