.title {
    -unity-font: url('./Fontdiner_Swanky/FontdinerSwanky-Regular.ttf');
    font-size: 36px;
    color: rgb(255, 225, 94);
    -unity-text-align: middle-center;
}

#runtime-panel-container {
    align-items: center;
}

#runtime-panel-container.success {
    background-color: #8edc81;
}

#runtime-panel-container.error {
    background-color: #dc143c;
}

.container {
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 500px;
    justify-content: center;
}

.elem {
    margin: 20px;
    width: 200px;
    height: 200px;
}

.elem.active {
    border-width: 4px;                                                                          
    border-color: #f5f5f5;
}

.elem_1 {
    background-color: #1e90ff;
}

.elem_1.active {
    background-color: #8dbdff;
}

.elem_2 {
    background-color: #24ff47;
}

.elem_2.active {
    background-color: #95ffa5;
}

.elem_3 {
    background-color: #ff4211;
}

.elem_3.active {
    background-color: #ffb499;
}

.elem_4 {
    background-color: #ae19ff;
}

.elem_4.active {
    background-color: #cc85ff;
}
